*{
	margin : 0;
	padding: 0;
}
.nav{
	margin: auto;
	text-align: center;
	font-family: sans-serif;
	width: 200;
	font-size: 20px;
	display: flex;
	background-color: pink;
	box-shadow: 11px 0,4px,3px,1px black;

}
.nav ul{
	background: #388;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
	padding: 0 20px;
}
.nav ul li{
	float: left;
	padding: 8px 12px;
	border-right: #4072b4;
}
.nav ul li: hover{
	background:  #16a085;
}
.nav ul li:hover a{
	color: #388;
}