.slider h3,
.slider h5,
.clients h3{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.parallax-container{
	height:  240px;
}


.clients img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}


section {
	padding: 20px 0;

}

section, footer {
	padding: 20px 0;
}